/* .registration-form {
    max-width: 250px;
    margin: 0 auto;
} */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}


.login-link {
    font-size: 14px;
    text-decoration: none;
    margin: 0 auto;
    
}

.login-link a {
    color: #ce3e46;
    font-weight: 500;
}

/* .registration-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: -webkit-center;
}
.registration-inputs label {
    text-align: left;
} */