
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}


.login-link {
    font-size: 14px;
    text-decoration: none;
    margin: 0 auto;
    
}

.login-link a {
    color: #ce3e46;
    font-weight: 500;
}

