header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100vw;
    padding: 5px 50px;
    margin: 0 auto;
    height: 40px;
    /* this below works when logged in but adds extra white space when logged out */
    /* margin-bottom: 10px; */
}
header h1,
header h1 a {
    margin: 0px;
    display: flex;
    font-size: 24px;
    color: #ce3e46;
}
/* h1 a {
    font-size: 24px;
} */
.logout {
    display: flex;
    align-items: center;
}

.logged-in-username {
    margin-right: 10px;
}

nav {
    align-items: center;
    display: flex;
}

nav a {
    padding: 5px 10px;
    font-size: 14px;
    text-align: -webkit-center;
    margin-right: 10px;
    font-weight: 500;
    letter-spacing: 0.06rem;
}

nav a.register {
    text-align: center;
    width: 80px;
    background: green;
    border-radius: 2px;
    color: white;
    opacity: 0.6;
}

nav a.logout {
    text-align: center;
    width: 70px;
    background: green;
    border-radius: 2px;
    color: white;
    opacity: 0.6;
}

nav a.login {
    width: 60px;
    background: #717171;
    border-radius: 2px;
    color: white;
    opacity: 0.6;
}

nav a.login:hover,
nav a.login:focus,
nav a.register:hover,
nav a.register:focus,
nav a.logout:hover,
nav a.logout:focus {
    /* color: #ce3e46; */
    transition: 0.5s;
    opacity: 1;
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 5px 30px;
    }
    
}

@media (min-width: 481px) and (max-width: 767px) {
    header {
        padding: 4px 20px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    header {
        padding: 3px 10px;
    }

    header h1,
    header h1 a {
        font-size: 20px;
    }

    .logged-in-username {
        font-size: 0.8rem;
    }

    nav a {
        padding: 3px 7px;
        font-size: 14px;
        margin-right: 6px;
        font-weight: 400;
        letter-spacing: 0.04rem;
    }

    nav a.logout{
        width: 63px;
    }

    .title-container {
        display: flex;
        align-items: center;
    }
}