header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100vw;
    padding: 5px 50px;
    margin: 0 auto;
    height: 40px;
    /* this below works when logged in but adds extra white space when logged out */
    margin-bottom: 10px;
}
header h1,
header h1 a {
    margin: 0px;
    display: flex;
    font-size: 24px;
    color: #ce3e46;
}
/* h1 a {
    font-size: 24px;
} */
.logout {
    display: flex;
    align-items: center;
}

.logged-in-username {
    margin-right: 10px;
}

nav {
    align-items: center;
    display: flex;
}

nav a {
    padding: 5px 15px;
    font-size: 14px;
    width: 100px;
    text-align: -webkit-center;
    border: 1px solid #cecece;
    margin-right: 10px;
    background: #e6e6e6;
    font-weight: 500;
}

nav a:hover,
nav a:focus {
    color: #ce3e46;
    border: 1px solid #ce3e46;
}

/* .hidden-title {
    display: none;
} */

/* .title:hover {
    font-size: 0;
}

.title:hover:after {
    content: attr(data-cover);
    font-size: 24px;
} */

@media screen and (max-width: 450px) {
  .title {
      margin-right: 10px;
  }
}