.dashboard {
    margin: 0 auto;
    text-align: center;
    text-align: -webkit-center;
}

.banner {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 3px #c30000;
    font-weight: 600;
    background: url(../../images/architecture-boats-buildings-417344.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner p{
    margin: 0;
}


.learn-link {
    background: #e05704;
    padding: 12px 15px;
    width: 170px;
    text-align: center;
    font-weight: 500;
    border-radius: 2px;
    position: relative;
    top: -20px;
    left: 0px;
}

.learn-link a{
    margin: 0;
    color: white;
    letter-spacing: 0.05rem;
}

.learn-link:hover,
.learn-link:focus {
    background: #ff8000;
    transition: 0.5s;
}

.language-score {
    display: flex;
    justify-content: center;
    /* margin-top: 15px; */
}



.words h3,
.words h2,
.words span {
    margin: 10px 0 8px 0;
    font-size: 34px;
    color: #c30000;
    text-shadow: 1.5px 1.3px #000000;
}



.language {
    margin: 2px 0 5px 0;
    color: #139a13;
    font-size: 1.5rem;
    font-weight: 600;
}

.language-score > h3,
.language-score > span, 
.language-score > h2 {
    margin-top: 0;
}

ul {
    text-align: left;
    width: 90%;
    padding: 0;
    margin: 0 auto;
}
li {
    list-style: none;
    display: inline-block;
    width: 23%;
    padding: 5px 15px;
    margin: 1%;
}

li h4, li p {
    margin: 3px 0;
}

ul li:nth-of-type(even){
    background: #139a13;
    color: white;
}

ul li:nth-of-type(odd){
    background: #b71818;
    color: white;
}

@media (min-width: 1480px) {
    ul {
        width: 80%;
    }
    li {
        width: 18%;
    }
}


@media (min-width: 1025px) and (max-width: 1479px) {

    ul {
        width: 90%;
    }
    li {
        width: 23%;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {
    li {
        width: 31.33%;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    li {
        width: 48%;
    }

    .banner{
        font-size: 2.5rem;
    }

    .learn-link {
        padding: 10px 13px;
        font-weight: 500;
        letter-spacing: 0;
    }

    /* .language-score {
        margin-top: 8px;
    } */

    .words h3,
    .words h2,
    .words span {
        font-size: 30px;
    }

    .language {
        font-size: 1.3rem;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    li {
        width: 98%;
    }

    .banner{
        font-size: 2rem;
    }

    .learn-link {
        padding: 8px 13px;
        font-weight: 500;
        letter-spacing: 0;
    }
/* 
    .language-score {
        margin-top: 5px;
    } */

    .words h3,
    .words h2,
    .words span {
        font-size: 25px;
    }

    .language {
        font-size: 1.1rem;
        margin-bottom: 6px;
    }
}